<li class="<%= icon_for_article(article) %>">
  <strong><%= link_to(article.title, article.url) %></strong>
  <div class="item_meta">
    <% if article.last_changed_by %>
      <span class="cat_item_by">
      <%= _('by %s') % link_to(article.last_changed_by.name, article.last_changed_by.url) %>
      </span>
    <% end %>
    <span class="cat_item_update"><%= _('Last update: %s.') % show_date(article.updated_at) %></span>
  </div>
</li>
