<div class="task_box">

  <div class="task_icon">
    <%
        icon_info = task.icon
        if icon_info[:type] == :profile_image
          icon = profile_image(icon_info[:profile], :minor)
        elsif icon_info[:type] == :defined_image
          icon = "<img src='#{icon_info[:src]}' alt='#{icon_info[:name]}' />"
        end
      %>
    <%=
        if icon_info[:url]
          link_to(icon, icon_info[:url])
        else
          icon
        end
      %>

  </div>

  <div class="task_decisions">
    <%=
        labelled_radio_button(_("Accept"), "tasks[#{task.id}][decision]", 'finish', task.default_decision == 'accept',
                              :id => "decision-finish-#{task.id}",
                              :class => 'task_accept_radio',
                              :disabled => task.accept_disabled?,
                              :task_id => "#{task.id}") +
        labelled_radio_button(_("Reject"), "tasks[#{task.id}][decision]", 'cancel', task.default_decision == 'reject',
                              :id => "decision-cancel-#{task.id}",
                              :class => 'task_reject_radio',
                              :disabled => task.reject_disabled?,
                              :task_id => "#{task.id}") +
        labelled_radio_button(_("Skip"), "tasks[#{task.id}][decision]", 'skip', task.default_decision == 'skip',
                              :id => "decision-skip-#{task.id}",
                              :class => 'task_skip_radio',
                              :disabled => task.skip_disabled?,
                              :task_id => "#{task.id}")
    %>
  </div><!-- class="task_decisions" -->

  <strong class="task_title">
    <%= task.title %>
  </strong>

  <div class="task_information">
    <%= task_information(task) %>
  </div>

  <% fields_for "tasks[#{task.id}][task]", task do |f| %>
    <% if task.accept_details %>
      <div id="on-accept-information-<%=task.id%>" style="display: none">
        <%= render :partial => partial_for_task_class(task.class, :accept_details), :locals => {:task => task, :f => f} %>
      </div>
    <% end %>

    <% if task.reject_details %>
      <div id="on-reject-information-<%=task.id%>" style="display: none">
        <%= render :partial => partial_for_task_class(task.class, :reject_details), :locals => {:task => task, :f => f} %>
      </div>
    <% end %>
  <% end %>

</div><!-- class="task_box" -->
