<div id='media-listing-folder-documents' >
  <ul>
    <% documents.each do |document| %>
      <li><%= link_to(document.name, document.view_url, :class => icon_for_article(document)) %></li>
    <% end %>
  </ul>
  <div id='pagination-documents'>
    <%= pagination_links documents, :param_name => 'dpage', :params => {:document_folder_id => params[:document_folder_id]} %>
  </div>
</div>
