<%= required_fields_message %>

<%# TODO add Textile help here %>

<%= required labelled_form_field(_('Title'), text_field(:article, 'name', :size => '64')) %>

<%= render :partial => 'translatable' %>
<%= render :partial => 'shared/lead_and_body' %>
