<h1>
  <%= _('Content management') %>
</h1>

<% button_bar(:style => 'margin-bottom: 1em;') do %>
  <% parent_id = ((@article && @article.allow_children?) ? @article : nil) %>

  <%= lightbox_button('new', _('New content'), :action => 'new', :parent_id => parent_id, :cms => true) %>
  <%= button(:back, _('Back to control panel'), :controller => 'profile_editor', :action => "index") %>
<% end %>

<% if @article %>
  <div id='article-full-path'>
    <strong><%= _('Current folder: ') %></strong>
    <%= link_to profile.identifier, :action => 'index' %>
    <%= @article.hierarchy.map {|item| " / " + ((item == @article) ? item.name : link_to(item.slug, :id => item.id)) } %>
  </div>
<% end %>

<table class='cms-articles'>

  <%# header %>
  <tr>
    <th><%= _('Name') %></th>
    <th><%= _('Type') %></th>
    <th><%= _('Actions') %></th>
  </tr>

  <% if @article %>
    <tr>
      <td>
        <% if @article.parent %>
          <%= link_to '.. (' + _('parent folder') + ')', {:action => 'view', :id => @article.parent.id}, :class => 'icon-parent-folder' %>
        <% else %>
          <%= link_to '.. (' + _('parent folder') + ')', {:action => 'index'}, :class => 'icon-parent-folder' %>
        <% end %>
      </td>
      <td><%= Folder.short_description %></td>
      <td> </td>
    </tr>
  <% end %>

  <% @articles.each do |article| %>
    <tr>
      <td>
        <%= link_to_article(article) %>
      </td>
      <td>
        <%= article.class.short_description %>
      </td>
      <td class="article-controls">
        <%= button_without_text :edit, _('Edit'), :action => 'edit', :id => article.id %>
        <%= button_without_text :eyes, _('Public view'), article.url %>
        <%= display_spread_button(profile, article) unless article.folder? %>
        <% if !environment.enabled?('cant_change_homepage') %>
          <%= button_without_text :home, _('Use as homepage'), { :action => 'set_home_page', :id => article.id }, :method => :post %>
        <% end %>
        <%= display_delete_button(article) %>
      </td>
    </tr>
  <% end %>

</table>

<%= pagination_links @articles, {:param_name => 'npage', :prev_label => '&laquo; ' + _('Previous'), :next_label => _('Next') + ' &raquo;', :page_links => true} %>
