<li id="<%= comment.anchor %>" class="article-comment">
  <div class="article-comment-inner">

  <div class="comment-content comment-logged-<%= comment.author ? 'in' : 'out' %> <%= 'comment-from-owner' if ( comment.author && (@page.profile.name == comment.author.name) ) %>">

  <% if comment.author %>
    <%= link_to image_tag(profile_icon(comment.author, :minor)) +
                content_tag('span', comment.author_name, :class => 'comment-info'),
        comment.author.url,
        :class => 'comment-picture',
        :title => comment.author_name
    %>
  <% else %>
    <%# unauthenticated user: display gravatar icon %>
    <% url_image, status_class = comment.author_id ? [comment.removed_user_image, 'icon-user-removed'] : [str_gravatar_url_for( comment.email, :size => 50 ), 'icon-user-unknown'] %>
    <%= content_tag 'span', image_tag(url_image) +
                            content_tag('span', comment.author_name, :class => 'comment-info') +
                            content_tag('span', comment.message, :class => 'comment-user-status ' + status_class),
        :class => 'comment-picture',
        :title => '%s %s' % [comment.author_name, comment.message]
    %>
  <% end %>

  <% comment_balloon do %>
    <% if logged_in? && (user == @page.profile || user == comment.author || user.has_permission?(:moderate_comments, @page.profile)) %>
      <% button_bar(:style => 'float: right; margin-top: 0px;') do %>
        <%= icon_button(:delete, _('Remove this comment and all its replies'), { :profile => params[:profile], :remove_comment => comment.id, :view => params[:view] }, :method => :post, :confirm => _('Are you sure you want to remove this comment and all its replies?')) %>
      <% end %>
    <% end %>

    <div class="comment-details">
      <div class="comment-created-at">
        <%= show_time(comment.created_at) %>
      </div>
      <h4><%= comment.title %></h4>
      <div class="comment-text">
        <p/>
        <%= txt2html comment.body %>
      </div>
    </div>

    <div class="comment_reply post_comment_box closed">
      <% if @comment && @comment.errors.any? && @comment.reply_of_id.to_i == comment.id %>
        <%= error_messages_for :comment %>
        <script type="text/javascript">
          jQuery(function() {
            document.location.href = '#<%= comment.anchor %>';
            add_comment_reply_form('#comment-reply-to-<%= comment.id %>', <%= comment.id %>);
          });
        </script>
      <% end %>
      <%= link_to_function _('Reply'),
          "var f = add_comment_reply_form(this, %s); f.find('input[name=comment[title]], textarea').val(''); return false" % comment.id,
          :class => 'comment-reply-link',
          :id => 'comment-reply-to-' + comment.id.to_s
      %>
    </div>

  <% end %>

  </div>

  <% unless comment.replies.blank? %>
  <ul class="comment-replies">
    <% comment.replies.each do |reply| %>
      <%= render :partial => 'comment', :locals => { :comment => reply } %>
    <% end %>
  </ul>
  <% end %>

  </div>
</li>
