<%
  if @page.parent && @page.parent.has_posts? && @page.parent.feed
    add_rss_feed_to_head(@page.parent.name, @page.parent.feed.url)
  end
%>

<div id="article" class="<%= @page.css_class_name %>">

<div id="article-toolbar"></div>

<script type="text/javascript">
  <%= remote_function :update => "article-toolbar", :url => @page.url.merge({ :toolbar => true, :only_path => true }), :complete => "$$('#article-toolbar .remote-lbOn').each(function(link) { new lightbox(link); }); jQuery('#article-toolbar .simplemenu-trigger').click(function(e) { e.stopPropagation(); })" %>
</script>

<% if !@page.tags.empty? %>
  <div id="article-tags">
    <%= _("This article's tags:") %>
    <%= @page.tags.map { |t| link_to(t, :controller => 'profile', :profile => @profile.identifier, :action => 'tags', :id => t.name ) }.join("\n") %>
  </div>
<% end %>

<% if @page.display_hits? %>
  <div id="article-hits">
    <%= n_('Viewed one time', 'Viewed %{num} times', @page.hits) % { :num => @page.hits } %>
  </div>
<% end %>

<% if @page.parent && !@page.parent.path.blank? %>
<div id="article-parent">
  <%= button(:back, _('Go back to %s') % @page.parent.short_title, @page.parent.url) %>
</div>
<% end %>

<%= render :partial => 'shared/disabled_enterprise' %>

<% if NOOSFERO_CONF['addthis_enabled'] %>
<div id="addThis">
<script type="text/javascript">
  addthis_pub = '<%= escape_javascript( NOOSFERO_CONF['addthis_pub'] ) %>';
  addthis_logo = '<%= escape_javascript( NOOSFERO_CONF['addthis_logo'] ) %>';
  addthis_config = {
    services_custom: {
      name: 'Facebook',
      url: '<%= addthis_facebook_url(@page) %>',
      icon: 'http://cache.addthiscdn.com/icons/v1/thumbs/facebook.gif'
    }
  };
  addthis_options = '<%= escape_javascript( NOOSFERO_CONF['addthis_options'] ) %>';
</script>
<a href="http://www.addthis.com/bookmark.php" id="bt_addThis" target="_blank" onmouseover="return addthis_open(this, '', '[URL]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><%= addthis_image_tag %></a>
<script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
</div>
<% end %>

<% cache(@page.cache_key(params, user)) do %>
  <div class="<%="article-body article-body-" + @page.css_class_name %>">
    <% options = @page.image? ? {:gallery_view => true} : {} %>
    <%= article_to_html(@page, options) %>
    <br style="clear:both" />
  </div> <!-- end class="article-body" -->
<% end %>

<% if ! @page.categories.empty? %>
<div id="article-cat">
  <h4><%= _('Categories') %></h4>
    <%= @page.categories.map {|item| link_to_category(item, false) }.join(", ") %>
</div>
<% end %>

<%= display_source_info(@page) %>

<div class="comments" id="comments_list">
  <% if @page.accept_comments? %>
  <h3 <%= 'class="no-comments-yet"' if @comments.size == 0 %>>
    <%= number_of_comments(@page) %>
  </h3>
  <% if @comments_count > 1 %>
  <p class="post-comment-button"><a href="#comment_form" onclick="jQuery('#page-comment-form h4').first().trigger('click')"><%= _('Post a comment') %></a></p>
  <% end %>
  <ul class="article-comments-list">
    <%= render :partial => 'comment', :collection => @comments %>
  </ul>
  <div id="page-comment-form"><%= render :partial => 'comment_form' %></div>
  <script type="text/javascript">
  jQuery( function() {
    jQuery('.article-comment').live('mouseover', function() { jQuery(this).find('.icon-delete:first').show(); });
    jQuery('.article-comment').live('mouseout', function() { jQuery(this).find('.icon-delete').hide(); });
  });
  </script>
  <% end %>
</div><!-- end class="comments" -->

</div><!-- end id="article" -->
<%= add_zoom_to_images %>
