body {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  color: #444;
  background-color: #F0F0EE;
  overflow: hidden;
}

h3, h4, h5 {
  margin: 5px 0px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

#media-listing {
  width: 100%;
  height: 48%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
}

#media-listing-upload p,
#media-listing p {
  font-size: 13px;
  font-weight: bold;
  margin: 5px 5px;
}

#media-listing li {
  list-style: none;
  margin: 0px;
}

#media-listing li:hover {
  background-color: #CCC;
}

#media-listing a {
  text-decoration: none;
}

#media-listing select {
  width: 80%;
}

#media-listing-images {
  width: 46%;
  float: left;
  text-align: center;
}

#media-listing-images img {
  max-width: 80px;
  max-height: 60px;
}

.msie6 #media-listing-images img,
.msie7 #media-listing-images img {
  width: 80px;
  height: 60px;
}

#media-listing-folder-images,
#media-listing-folder-documents {
  height: 80%;
}

#media-listing ul {
  padding: 0px;
  margin: 5px;
  height: 40%;
  overflow: auto;
  width: 98%;
}

#media-listing ul {
  height: 85%;
}

#media-listing-images,
#media-listing-documents {
  height: 55%;
}

#media-listing-documents ul {
  text-align: left;
}

#media-listing-documents {
  width: 52%;
  float: left;
  text-align: center;
}

#media-listing-documents li {
  padding-bottom: 5px;
}

#media-listing-folder-documents a.icon {
  background-repeat: no-repeat;
  padding-left: 20px;
  border: none;
}

#media-listing-folder-documents .icon:hover {
  background-color: transparent;
}

#media-listing .icon-rss-feed {
  background-image: url(../images/icons-mime/rss-feed-16.png);
}

#media-listing-upload {
  width: 98%;
  padding: 3px;
}

#media-listing-upload p {
  margin: 5px 0px;
}

#media-listing-upload select {
  width: 90%;
}

#uploaded_files {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100px;
  margin-top: 5px;
}

.msie #uploaded_files {
  height: 100px;
  padding: 0px;
}

.formlabel {
  font-size: 11px;
  display: block;
}

/* Notice */

div#notice {
  background: #fee;
  border: 1px solid #933;
  top: 150px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  left: 50%;
  margin-left: -150px;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 300px;
}
