<% if block.cacheable? && use_cache %>
  <% cache_timeout(block.cache_key, block.timeout.from_now) do %>
    <%= display_block_content(block, main_content) %>
  <% end %>
<% else %>
  <%= display_block_content(block, main_content) %>
<% end %>
