<div id='display-product-image'>
  <%= image_tag (@product.reload.default_image('thumb')), :class => 'product-pic' %>
</div>

<% form_for(:product, :url => { :controller => 'manage_products', :action => 'edit', :id => @product, :field => 'image' }, :html => { :method => 'post', :id => 'uploadForm', :multipart => true}) do |f| %>
  <% f.fields_for :image_builder, @product.image do |i| %>
    <%= i.file_field( :uploaded_data, { :size => 10 } ) %>
    <p><%= _("Max size: %s (.jpg, .gif, .png)")% Image.max_size.to_humanreadable %></p>
  <% end %>

  <%= submit_button 'save', _('Save') %>
  <%= cancel_edit_product_link(@product, 'image') %>
<% end %>

<script type="text/javascript">
  jQuery("#uploadForm").ajaxForm({
    beforeSubmit: function(a,f,o) {
      o.loading = small_loading("uploadForm");
    },
    target: '#product-image'
  });
</script>

<% if errors %>
  <%= render :partial => 'shared/dialog_error_messages', :locals => { :object_name => 'product' } %>
<% end %>
