<% remote_form_for(@product,
                   :loading => "small_loading('product-name-form')",
                   :update => 'product-name',
                   :url => {:controller => 'manage_products', :action => 'edit', :id => @product, :field => 'name'},
                   :html => {:method => 'post', :id => 'product-name-form'}) do |f| %>
  <%= f.text_field(:name, :value => @product.name, :class => 'name_edition') %>
  <%= select_unit(@product) %>

  <% button_bar do %>
    <%= submit_button :save, _('Save') %>
    <%= cancel_edit_product_link(@product, 'name') %>
  <% end %>
<% end %>

<script type="text/javascript">
  jQuery('#product_name').focus().select();
</script>

<% if errors %>
  <%= render :partial => 'shared/dialog_error_messages', :locals => { :object_name => 'product' } %>
<% end %>
