<div class="login-box">

<h2><%= _('Login') %></h2>

<% @user ||= User.new %>
<% is_thickbox ||= false %>

<% labelled_form_for :user, @user, :url => login_url do |f| %>

     <%= f.text_field :login, :id => 'main_user_login', :onchange => 'this.value = convToValidLogin( this.value )' %>

     <%= f.password_field :password %>

     <% button_bar do %>
       <%= submit_button( 'login', _('Log in') )%>
       <% if is_thickbox %>
         <%= thickbox_close_button(_('Cancel')) %>
       <% end %>
     <% end %>

<% end %>

<% button_bar do %>
  <%= button :add, _("New user"), :controller => 'account', :action => 'signup' %>
  <%= button :help, _("I forgot my password!"), :controller => 'account', :action => 'forgot_password' %>
<% end %>

</div><!-- end class="login-box" -->

