<h1><%= _('Send an e-mail to %s') % profile.name %></h1>

<%= error_messages_for 'contact' %>


<% labelled_form_for :contact, @contact do |f| %>
  <%= icaptcha_field() %>
  <%= hidden_field_tag(:confirm, 'false') %>

  <%= required_fields_message %>

  <% location_fields = select_city(true) %>

  <% unless environment.enabled?('disable_select_city_for_contact') || location_fields.blank? %>
    <%= labelled_form_field _('City and state'), location_fields %>
  <% end %>
  <%= required f.text_field(:subject) %>
  <%= required f.text_area(:message, :rows => 10, :cols => 60) %>
  <%= labelled_form_field check_box(:contact, :receive_a_copy) + _('I want to receive a copy of the message in my e-mail.'), '' %>

  <%= submit_button(:send, _('Send'), :onclick => "$('confirm').value = 'true'") %>
<% end %>
