<h2><%= _('Manage person fields') %></h2>

<% labelled_form_for(:environment, @environment, :url => {:action => 'manage_person_fields'}) do |f| %>

<table id='person_fields_conf'>
  <tr>
    <th><%= _('Field') %></th>
    <th><%= _('Active') %></th>
    <th><%= _('Required') %></th>
    <th><%= _('Display on signup?') %></th>
  </tr>
  <% @person_fields.each do |field| %>
  <tr>
    <td><label for="person_fields[<%= field %>][active]"><%= _(field.humanize) %></label></td>
    <td>
      <%= check_box_tag "person_fields[#{field}][active]", true, environment.custom_person_field(field, 'active'), :onclick => "$('person_fields[#{field}][required]').disabled=$('person_fields[#{field}][signup]').disabled=!this.checked;" %>
      <%= hidden_field_tag  "person_fields[#{field}][active]", false %>
    </td>
    <td>
      <%= check_box_tag "person_fields[#{field}][required]", true, environment.custom_person_field(field, 'required'), :onclick => "if(this.checked) $('person_fields[#{field}][signup]').checked = true;" %>
      <%= hidden_field_tag  "person_fields[#{field}][required]", false %>
    </td>
    <td>
      <%= check_box_tag "person_fields[#{field}][signup]", true, environment.custom_person_field(field, 'signup'), :onclick => "if(!this.checked) $('person_fields[#{field}][required]').checked = false;" %>
      <%= hidden_field_tag  "person_fields[#{field}][signup]", false %>
    </td>
  </tr>
  <% end %>
</table>

<script type='text/javascript'>// <!--
  var trs = $$('#person_fields_conf tr');
  var tr, td2;
  for ( var i=0; tr=trs[i]; i++ ) {
    if ( td2 = tr.getElementsByTagName('td')[1] ) {
      td2.getElementsByTagName('input')[0].onclick();
    }
  }
  // -->
</script>

<div>
  <% button_bar do %>
    <%= submit_button('save', _('Save changes')) %>
    <%= button :back, _('Back to admin panel'), :controller => 'admin_panel', :action => 'index' %>
  <% end %>
</div>

<% end %>




