<table>
  <tr>
    <th colspan='2'><%= _('Basic information')%></th>
  </tr>
  <%= display_field(_('Sex:'), profile, :sex) { |gender| { 'male' => _('Male'), 'female' => _('Female') }[gender] } %>
  <%= display_field(_('Date of birth:'), profile, :birth_date) { |date| show_date(date)  }%>
  <%= display_field(_('Location:'), profile, :location, true) %>

  <%= display_field(_('Type:'), profile, :privacy_setting, true) %>

  <tr>
    <td class='field-name'><%= _('Created at:')  %></td>
    <td><%= show_date(profile.created_at) %></td>
  </tr>

  <% if profile == user || profile.friends.include?(user) %>
    <tr>
      <th colspan='2'><%= _('Contact')%></th>
    </tr>
    <%= display_field(_('Address:'), profile, :address) %>
    <%= display_field(_('ZIP code:'), profile, :zip_code) %>
    <%= display_field(_('Contact phone:'), profile, :contact_phone) %>
    <%= display_field(_('e-Mail:'), profile, :email, true) { |email| link_to_email(email) } %>
  <% end %>

  <% cache_timeout(profile.relationships_cache_key, 4.hours.from_now) do %>
    <% if !(profile.organization.blank? && profile.organization_website.blank?) && (profile.active_fields.include?('organization') || profile.active_fields.include?('organization_website')) %>
      <tr>
        <th colspan='2'><%= _('Work')%></th>
      </tr>
    <% end %>
    <%= display_field(_('Organization:'), profile, :organization) %>
    <%= display_field(_('Organization website:'), profile, :organization_website) { |url| link_to(url, url) }%>


    <% if !environment.enabled?('disable_asset_enterprises') && !profile.enterprises.empty? %>
      <tr>
        <th colspan='2'><%= __('Enterprises') %></th>
      </tr>
      <% profile.enterprises.each do |item| %>
        <tr>
          <td></td>
          <td><%= button 'menu-enterprise', item.name, item.url %></td>
        </tr>
      <% end %>
    <% end %>

    <tr>
      <th colspan='2'><%= _('Network')%></th>
    </tr>
    <tr>
      <td><%= __('Friends') + ':' %></td>
      <td><%= link_to  profile.friends.count, { :controller => 'profile', :action => 'friends' } %></td>
    </tr>
    <tr>
      <td><%= __('Communities') + ':' %></td>
      <td><%= link_to profile.communities.count, :controller => "profile", :action => 'communities' %></td>
    </tr>

    <% if !environment.enabled?('disable_categories') && !profile.interests.empty? %>
      <tr>
        <th colspan='2'><%= _('Interests') %></th>
      </tr>
      <% profile.interests.each do |item| %>
        <tr>
          <td></td>
          <td><%= link_to item.name, :controller => 'search', :action => 'category_index', :category_path => item.explode_path %></td>
        </tr>
      <% end %>
    <% end %>

    <%= render :partial => 'common' %>

  </table>
<% end %>

