<% add_rss_feed_to_head(_("%s's contents tagged with \"%s\"") % [profile.name, @tag], tag_feed_path) %>

<h1><%= _('Content tagged with "%s"') % CGI.escapeHTML(@tag) %></h1>

<p>
<%= link_to image_tag('icons-mime/rss-feed.png', :alt => _('Feed for this tag'), :title => _('Feed for this tag')), tag_feed_path, :class => 'blog-feed-link'%>
</p>

<% cache_timeout(@tag_cache_key, 4.hour.from_now) do %>
  <div class='search-tagged-items'>
    <ul>
    <% for doc in @tagged %>
      <li><%= link_to doc.title, doc.url %></li>
    <% end %>
    </ul>
  </div>

  <%= pagination_links @tagged, :param_name => 'npage' %>

  <div>
    <%= link_to _('See content tagged with "%s" in the entire site') % CGI.escapeHTML(@tag), :controller => 'search', :action => 'tag', :tag => @tag %>
  </div>
<% end %>
