<h1><%= _("%s's tags") % @profile.name %></h1>

<div class='tag_cloud'>
<% cache_timeout(@tags_cache_key, 4.hour.from_now) do %>
  <%= tag_cloud @tags, :id, { :action => :tags }, {:show_count => true} %>
<% end %>
</div>
